.App {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

.terminal-area {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.shellgei-input {
  width: 100%;

  /* resize: none; */

  /* 背景色と同じ色にすることでターミナルに同化 */
  background-color: #202020;

  /* キャレット（カーソル）の色を変更 */
  caret-color: white;

  /* フォント色を変更 */
  color: white;

  /* フォントを太字に */
  font-weight: bold;

  /* 枠線を消す */
  border: none;

  /* フォーカス時の枠線を消す */
  outline: none;
}

/* Chromeでスクロールバーを非表示にする */
.shellgei-input::-webkit-scrollbar {
  display: none;
}
